<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>favourites</title>
</head>
<body>
    <main>
        <%result.forEach(obj=>{%>
            <div>
                <p><b><%=obj.character%></b></p>
                <p><%=obj.quote%></p>
                <img src="<%=obj.image%>" alt="sympsons character">
                <a href="/favorite-quotes/<%=obj.id%>"><button>see details</button></a>
            </div>
        <%})%>
    </main>
</body>
</html>